*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ebf5fc;
    color:#203A43;
    cursor: none;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container a{
    margin-left: 25px;
    text-decoration: none;
    color: #f12711;
    font-weight:600;
}

.cursor{
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #0F2027;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform:translate(-50%,-50%) ;
    pointer-events: none;
}

.cursor::after,.cursor::before{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    left: 50%;
    top: 50%;
    background: linear-gradient(to top,#f12711,#f5af19);
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.cursor::before{
    background: #f12711;
}

.cursor.click::before{
    animation: click 0.5s ease-in-out forwards;
}

@keyframes click {
    0%{
        opacity: 1;
    transform: translate(-50% , -50%) scale(1);      
    }
    100%{
        opacity: 0;
    transform: translate(-50% , -50%) scale(3);      
        
    }
}